@model Empleado 
<div class="card" style="width: 18rem; margin: 20px auto; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
    <div class="card-body">
        <h5 class="card-title text-primary">@Model.Apellido</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Oficio</h6>
        <hr />
        <p class="card-text"><strong>ID Empleado:</strong> @Model.IdEmpleado</p>
        <p class="card-text"><strong>Departamento:</strong> @Model.IdDepartamento</p>
    </div>
</div>